{
  "presets": [
    ["env", { 
      "modules": false,
      "targets": {
        "node": "current",
        "uglify": true
      },
      "useBuiltIns": true
    }], 
    "stage-0", 
    "flow",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-runtime", { "polyfill": false }],
    ["module-resolver", { "root": ["./src"] }],
    "react-hot-loader/babel"
  ],
  "env": {
    "commonjs": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}