{
  "presets": [
    ["env", { "modules": false }], 
    "stage-3", 
    "flow"
  ],
  "plugins": ["transform-class-properties"],
  "env": {
    "commonjs": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}